@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
}
.App {
  background-color: bisque;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.box__input {
  margin: 30px 0;
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.input-txt {
  width: 350px;
  font-size: 16px;
  color: darkorange;
  border: none;
  outline: none;
  padding: 5px;
}
.input-btn-add,
.input-btn-save {
  font-size: 16px;
  padding: 5px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: darkorange;
  color: #fff;
}
.input-btn-add:hover {
  background-color: rgb(255, 156, 35);
}
.input-btn-save:hover {
  background-color: rgb(255, 156, 35);
}
.input-btn-save {
  display: none;
}
